<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SnipGPT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SnipGPT.Properties.Settings>
            <setting name="Model" serializeAs="String">
                <value>gpt-4.1-mini</value>
            </setting>
            <setting name="OverlayPosition" serializeAs="String">
                <value>BottomRight</value>
            </setting>
            <setting name="OverlayMargin" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ScreenshotMode" serializeAs="String">
                <value>App</value>
            </setting>
            <setting name="Provider" serializeAs="String">
                <value>OpenAI</value>
            </setting>
            <setting name="OverlayBackgroundMode" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="OverlayBackgroundOpacity" serializeAs="String">
                <value>0.85</value>
            </setting>
            <setting name="SelectionAppearanceMode" serializeAs="String">
                <value>Light</value>
            </setting>
            <setting name="SelectionFillOpacity" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="CustomPrompt" serializeAs="String">
                <value />
            </setting>
            <setting name="PromptHotkey" serializeAs="String">
                <value>Shift+C</value>
            </setting>
            <setting name="OverlayTextOpacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="OverlayCopyButtonOpacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PromptPopupBackgroundOpacity" serializeAs="String">
                <value>0.85</value>
            </setting>
            <setting name="PromptPopupTextOpacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PromptPopupInputOpacity" serializeAs="String">
                <value>0.3</value>
            </setting>
        </SnipGPT.Properties.Settings>
    </userSettings>
</configuration>